@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-headers: var(--font-sintony);
  --font-body: var(--font-poppins);
}

body {
  background: #ffffff;
  color: #171717;
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

/* Headers usando Sintony */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sintony), Arial, Helvetica, sans-serif;
}

/* Utility: force headers font */
.font-headers {
  font-family: var(--font-sintony), Arial, Helvetica, sans-serif;
}
